.container--main {
  height: 87.4vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

main {
  height: 200vh;
  background-image: url('./images/background.png');
  background-size: contain;
  background-repeat: no-repeat;
}