.container--main {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-image: url('./images/bg4.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.container--tech-stack {
  background-image: url('./images/techstackbackground.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.container--recent-work {
  height: 100vh;
  background-color: black;
}

.container--merits {
  height: 100vh;
  background: url('./images/meritsbackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.container--contact {
  background-image: url('./images/bgcontact.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.contact--title {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

.tech-stack--title {
  font-size: 3rem;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}

.merits--title {
  font-size: 3rem;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}

.tech-stack--sub-header {
  font-size: 2rem;
  font-weight: 300;
  color: gray;
  text-align: center;
  margin-bottom: 1rem;
}

.tech-stack--icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.recent-work--header {
  font-size: 2rem;
  color: white;
  text-align: center;
  width: 100vw;
  height: max-content;
}

.swiper {
  height: 90%;
}

.tech-stack--header {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0px 500px 100px rgba(0, 0, 0, 1);
}

#container--svg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  opacity: .7;
}

#tech-stack--svg1 {
  height: 20vw;
  width: max-content;
  margin-top: 7rem;
  align-self: flex-start;
  margin-left: 5vw;
}

#tech-stack--svg2 {
  height: 20vw;
  width: max-content;
  margin-bottom: 7rem;
  align-self: flex-end;
}

.diploma {
  width: 50%;
  object-fit: contain;
  object-position: center;
  border-radius: 5%;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.9);
}

.merits--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 5rem;
}

.merits--micro {
  display: grid; /* enable grid layout */
  grid-template-columns: repeat(2, 1fr); /* create two equal columns */
  grid-gap: 1rem; /* spacing between the grid items */

  align-self: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 2rem;
  padding: 2rem;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}

.merits--micro img {
  width: 50%;
  object-fit: contain;
  object-position: center;
  border-radius: 5%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}

.merits--sub-header {
  font-size: 1rem;
  font-weight: 300;
  color: white;
  margin: 1rem 0;
}

.merit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}